<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | <%=posts.config.blogName%></title>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/assets/prism.css" />
    <%const marked = require('marked')%>
    <%const html = require('html-format')%>
</head>

<body>
    <h1>Redirecting</h1>

    <noscript>If you don't have javascript enabled, click <a href="/introduction">here</a></noscript>

    <script>
        window.location.href="/introduction";
    </script>
</body>

</html>